{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for message in app.flashes('message')%}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>

    {% endfor %}

<h1>Bienvenue</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    {{ app.user.customerEmail }}
    {% endif %}
{% endblock %}


